.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #d10808;
    padding: 10px 20px;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s;
  }
  
  .nav-link:hover {
    background-color: rgb(151, 227, 43);
    border-radius: 5px;
  }
  